/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                 Base Styles                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
html, body {
    background: black;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

div#artificial {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    background-image:
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYA\
        AABMDlehAAAAGklEQVQImWP4//8/LxMDAwMDhPj79x8DtQEAIr8GCaM3FzcAAAA\
        ASUVORK5CYII=');
    background-repeat: repeat;
    background-size: 20px 20px;
    background-position: 0px 8px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    animation: scanlines 0.3s linear -1s infinite;
    transform: rotateX(0.00000001deg);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                   SUBTITLES                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
subtitle {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 90%;
    height: 100vh;
    background: transparent;
    font-size: calc( 3vh + 3vw );
    color: #ffe;
    text-shadow: 3px 1px 4px #222;
    font-family: "San Francisco", "Helvetica Neue";
    font-weight: 200;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*               EMOOOOOOJIIIIIII              */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
emoji {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 660px;
    max-width: 660px;
    min-width: 660px;
    height: 100%;
    background: transparent;
    
}
emoji e {
    display: block;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgba( 255, 255, 255, 0.0 );
}

div#artificial.talking emoji {
    display: flex;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*               Dance - Emoji                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-dance emoji e:nth-child(1) {
    animation: happy 1.4s ease-in-out s infinite alternate;
}
div#artificial.mood-dance emoji e:nth-child(1) {
    background-image: url(../images/dance.gif);
    background-size: cover;
    width: 660px;
    height: 660px;
    margin: 0px;
    animation: dance 2.0s ease-out -1s infinite alternate;
}
div#artificial.dance-1 emoji e:nth-child(1) {
    background-image: url(../images/dance-1.gif);
}
div#artificial.dance-2 emoji e:nth-child(1) {
    background-image: url(../images/dance-2.gif);
}
div#artificial.dance-3 emoji e:nth-child(1) {
    background-image: url(../images/dance-3.gif);
}

div#artificial.mood-dance div {
    mix-blend-mode: color-dodge;
    filter: blur(calc( var(--child) * 4px + 4px));
}

div#artificial.mood-dance div { background:       rgba(220, 200, 220, 1.0) }
div#artificial.mood-dance     { background-color: rgba(200,   0, 200, 1.0) }

@keyframes dance {
      0%  { transform: translateY(-200px) rotate(-10deg) scale(2.6); filter: hue-rotate(360deg); }
     50%  { transform: translateY( 200px) rotate(30deg) scale(2.2);                              }
     51%  { transform: translateY( 200px) rotate(-30deg) scale(-2.3); filter: hue-rotate(360deg); }
    100%  { transform: translateY(   0px) rotate(50deg) scale(-3.5);                              }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                 Happy Emoji                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-happy emoji {
    --bg: rgba( 255, 255, 255, 0.7 );
    animation: happy 1.4s ease-in-out -1s infinite alternate;
}

div#artificial.mood-happy div { background:       rgba(220, 200, 220, 1.0) }
div#artificial.mood-happy     { background-color: rgba( 10,  10,  20, 1.0) }

div#artificial.mood-happy emoji e:nth-child(2)  { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(3)  { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(10) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(11) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(13) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(16) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(21) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(24) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(64) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(69) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(77) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(78) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(79) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(80) { background: var(--bg) }

@keyframes happy {
    0%    { transform: translateY(-20px) scaleY(1.0)  }
    2%    { transform: translateY(-40px) scaleY(1.0)  }
    48%   { transform: translateY(40px)  scaleY(0.96) }
    50%   { transform: translateY(20px)  scaleY(0.96) }
    52%   { transform: translateY(0px)   scaleY(0.96) }
    90%   { transform: translateY(60px)  scaleY(1.0)  }
    100%  { transform: translateY(20px)  scaleY(1.0)  }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                  Mad Emoji                  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-mad emoji {
    --bg: rgba( 255, 255, 255, 0.7 );
    animation: mad 0.1s ease-out -1s infinite alternate;
}

div#artificial.mood-mad div { background:       rgba(220, 200, 220, 1.0) }
div#artificial.mood-mad     { background-color: rgba( 50,   0,   0, 1.0) }

div#artificial.mood-mad emoji e:nth-child(1)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(2)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(3)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(4)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(15) { background: var(--bg) }

div#artificial.mood-mad emoji e:nth-child(9)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(10) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(11) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(12) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(22) { background: var(--bg) }

div#artificial.mood-mad emoji e:nth-child(76) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(77) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(78) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(79) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(80) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(81) { background: var(--bg) }

@keyframes mad {
    0%    { transform: translateY(0px) scaleY(1.01) }
    3%    { transform: translateY(0px) scaleY(1.01) }
    47%   { transform: translateY(0px) scaleX(0.98) }
    50%   { transform: translateY(4px) scaleX(0.98) }
    53%   { transform: translateY(0px) scaleX(1.03) }
    90%   { transform: translateY(0px) scaleY(1.05) }
    100%  { transform: translateY(3px) scaleY(1.01) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                  Sad Emoji                  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-sad emoji {
    --bg: rgba( 255, 255, 255, 0.7 );
    animation: sad 0.8s linear -1s infinite alternate;
}

div#artificial.mood-sad div { background:       rgba(220, 200, 220, 1.0) }
div#artificial.mood-sad     { background-color: rgba(  2,   5,  50, 1.0) }

div#artificial.mood-sad emoji e:nth-child(2)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(3)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(4)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(27) { background: var(--bg) }

div#artificial.mood-sad emoji e:nth-child(9)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(10) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(11) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(34) { background: var(--bg) }

div#artificial.mood-sad emoji e:nth-child(76) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(65) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(66) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(67) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(68) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(81) { background: var(--bg) }

@keyframes sad {
    0%   { transform: translateX(90px)  scaleY(2.00) }
    2%   { transform: translateX(20px)  scaleX(1.00) }
    48%  { transform: translateX(-20px) scaleX(1.00) }
    50%  { transform: translateX(-10px) scaleX(2.30) }
    52%  { transform: translateX(30px)  scaleX(1.00) }
    98%  { transform: translateX(-30px) scaleX(1.00) }
    100% { transform: translateX(-90px) scaleX(-2.00) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*               Neutral Emoji                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-neutral emoji { display: none }

div#artificial.mood-neutral div { background:       rgba(220, 200, 220, 1.0) }
div#artificial.mood-neutral     { background-color: rgba( 10,  15,  15, 1.0) }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                  Orbiter                    */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#orbiter {
    text-align: center;
    background: yellow;
    height: 0px;
    width: 0px;
    margin: auto;
}

div#orbiter div {
    mix-blend-mode: color-dodge;
    border-radius: 500px;
    filter: blur(calc( var(--child) * 8px + 8px));
}

div#orbiter div {
    display: inline-block;
    position: absolute;
    /* brightness */
    width:  calc( var(--child) * 80px + 40px);
    height: calc( var(--child) * 80px + 40px);
    background-size: cover;
    transform-style: preserve-3d;
    animation:
        orbit calc( var(--child) * 0.5s + 0.6s)
        linear calc(var(--child) * -8s) infinite;
}

div#artificial.talking div#orbiter div {
    /* brightness */
    width:  calc( var(--child) * 10px + 40px);
    height: calc( var(--child) * 10px + 40px);
}

div#artificial.talking div#orbiter div {
    animation:
        talking calc( var(--child) * 0.2s - 0.0s)
        linear calc(var(--child) * -8s) infinite;
}

div#artificial.listening div#orbiter div {
    animation:
        listening calc( var(--child) * 0.5s + 10.0s)
        ease-in-out calc(var(--child) * -1s) infinite;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*             Animation Keyframes             */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes orbit {
    0%    { transform: rotate(0deg)   translateY(260px) }
    50%   { transform: rotate(180deg) translateY(290px) }
    100%  { transform: rotate(360deg) translateY(260px) }
}

@keyframes scanlines {
    0%    { background-position: 0px 0px  }
    100%  { background-position: 0px 20px }
}

@keyframes talking {
    0%    { transform: scale(1.8)      }
    10%   { transform: scale(4.0, 3.0) }
    100%  { transform: scale(0.2)      }
}

@keyframes listening {
    0%    { transform: rotate(0deg)   scale(1.9) }
    50%   { transform: rotate(180deg) scale(1.0) }
    100%  { transform: rotate(360deg) scale(1.4) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*    Enumerate children for css variables     */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial div:nth-child(1)  { --child: 1  }
div#artificial div:nth-child(2)  { --child: 2  }
div#artificial div:nth-child(3)  { --child: 3  }
div#artificial div:nth-child(4)  { --child: 4  }
div#artificial div:nth-child(5)  { --child: 5  }
div#artificial div:nth-child(6)  { --child: 6  }
div#artificial div:nth-child(7)  { --child: 7  }
div#artificial div:nth-child(8)  { --child: 8  }
div#artificial div:nth-child(9)  { --child: 9  }
div#artificial div:nth-child(10) { --child: 10 }
div#artificial div:nth-child(11) { --child: 11 }
div#artificial div:nth-child(12) { --child: 12 }
div#artificial div:nth-child(13) { --child: 13 }
div#artificial div:nth-child(14) { --child: 14 }
div#artificial div:nth-child(15) { --child: 15 }
div#artificial div:nth-child(16) { --child: 16 }

