/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                 Base Styles                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
html, body {
    background: black;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: 0;
}

div#panel {
    display: none;
    /* TODO */
    /* TODO */
    /* TODO */
}

div#artificial {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%;
    background-image:
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAGklEQVQImWP4//+/CBMDAwMDhPj79x8DtQEAJV8GEPQi6p0AAAAASUVORK5CYII=');
    background-repeat: repeat;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*               EMOOOOOOJIIIIIII              */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
emoji {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 660px;
    max-width: 660px;
    min-width: 660px;
    height: 100%;
    background: transparent;
    
}
emoji e {
    display: block;
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: rgba( 255, 255, 255, 0.0 );
}

div#artificial.talking emoji {
    display: flex;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                 Happy Emoji                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-happy emoji {
    --bg: rgba( 255, 255, 255, 0.7 );
    animation: happy 0.4s ease-in-out -1s infinite alternate;
}

div#artificial.mood-happy div#orbiter div { mix-blend-mode: color-dodge  }

div#artificial.mood-happy div { background:       rgba(200, 200, 200, 1.0) }
div#artificial.mood-happy     { background-color: rgba(20,    8,  30, 1.0) }

div#artificial.mood-happy emoji e:nth-child(2)  { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(3)  { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(10) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(11) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(13) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(16) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(21) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(24) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(64) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(69) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(77) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(78) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(79) { background: var(--bg) }
div#artificial.mood-happy emoji e:nth-child(80) { background: var(--bg) }

@keyframes happy {
    0%    { transform: translateY(-20px) scaleY(1.0) }
    50%   { transform: translateY(20px)  scaleY(0.96) }
    100%  { transform: translateY(60px)   scaleY(1.0) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                  Mad Emoji                  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-mad emoji {
    --bg: rgba( 255, 255, 255, 0.7 );
    animation: mad 0.1s ease-out -1s infinite alternate;
}

div#artificial.mood-mad   div#orbiter div { mix-blend-mode: color-dodge }

div#artificial.mood-mad   div { background:       rgba(200,  120,  20, 1.0) }
div#artificial.mood-mad       { background-color: rgba( 20,   10,  10, 1.0) }

div#artificial.mood-mad emoji e:nth-child(1)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(2)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(3)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(4)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(15) { background: var(--bg) }

div#artificial.mood-mad emoji e:nth-child(9)  { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(10) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(11) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(12) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(22) { background: var(--bg) }

div#artificial.mood-mad emoji e:nth-child(76) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(77) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(78) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(79) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(80) { background: var(--bg) }
div#artificial.mood-mad emoji e:nth-child(81) { background: var(--bg) }

@keyframes mad {
    0%    { transform: translateY(0px) scaleY(1.01) }
    50%   { transform: translateY(0px) scaleX(0.98) }
    100%  { transform: translateY(0px) scaleY(1.02) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                  Sad Emoji                  */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-sad emoji {
    --bg: rgba( 255, 255, 255, 0.7 );
    animation: sad 0.8s linear -1s infinite alternate;
}

div#artificial.mood-sad   div#orbiter div { mix-blend-mode: screen  }

div#artificial.mood-sad   div { background:       rgba( 80,   80, 200, 1.0) }
div#artificial.mood-sad       { background-color: rgba( 10,    0,  10, 1.0) }

div#artificial.mood-sad emoji e:nth-child(2)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(3)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(4)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(27) { background: var(--bg) }

div#artificial.mood-sad emoji e:nth-child(9)  { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(10) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(11) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(34) { background: var(--bg) }

div#artificial.mood-sad emoji e:nth-child(76) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(65) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(66) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(67) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(68) { background: var(--bg) }
div#artificial.mood-sad emoji e:nth-child(81) { background: var(--bg) }

@keyframes sad {
    0%    { transform: translateX(12px)  scaleX(1.00) }
    100%  { transform: translateX(-12px) scaleX(1.00) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*               Neutral Emoji                 */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial.mood-neutral emoji { display: none }

div#artificial.mood-neutral   div#orbiter div { mix-blend-mode: color-dodge  }

div#artificial.mood-neutral   div { background:       rgba( 100,  180, 240, 1.0) }
div#artificial.mood-neutral       { background-color: rgba( 10,    10,  20, 1.0) }

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*                  Orbiter                    */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#orbiter {
    text-align: center;
    background: yellow;
    height: 0px;
    width: 0px;
    margin: auto;
}

div#orbiter div {
    display: inline-block;
    position: absolute;
    width:  calc( var(--child) * 80px + 40px);
    height: calc( var(--child) * 80px + 40px);
    filter: blur(calc( var(--child) * 8px + 8px));
    transform-style: preserve-3d;
    border-radius: 600px;
    animation:
        orbit calc( var(--child) * 0.9s + 1.6s)
        linear calc(var(--child) * -8s) infinite;
}

div#artificial.talking div#orbiter div {
    width:  calc( var(--child) * 10px + 20px);
    height: calc( var(--child) * 10px + 20px);
}

div#artificial.talking div#orbiter div {
    border-radius: 6px;
    animation:
        talking calc( var(--child) * 0.2s - 0.0s)
        linear calc(var(--child) * -8s) infinite;
}

div#artificial.listening div#orbiter div div {
    border-radius: 6px;
    animation:
        listening calc( var(--child) * 0.8s - 0.0s)
        ease-in-out calc(var(--child) * -8s) infinite alternate;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*             Animation Keyframes             */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes orbit {
    0%    { transform: rotate(0deg)   translateY(60px)  }
    50%   { transform: rotate(180deg) translateY(90px) }
    100%  { transform: rotate(360deg) translateY(60px)  }
}

@keyframes talking {
    0%    { transform: scale(0.4) }
    10%   { transform: scale(6.5, 3.5) }
    100%  { transform: scale(-1.0) }
}

@keyframes listening {
    0%    { transform: scale(5.4) }
    100%  { transform: scale(-0.2) }
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*    Enumerate children for css variables     */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
div#artificial div:nth-child(1)  { --child: 1  }
div#artificial div:nth-child(2)  { --child: 2  }
div#artificial div:nth-child(3)  { --child: 3  }
div#artificial div:nth-child(4)  { --child: 4  }
div#artificial div:nth-child(5)  { --child: 5  }
div#artificial div:nth-child(6)  { --child: 6  }
div#artificial div:nth-child(7)  { --child: 7  }
div#artificial div:nth-child(8)  { --child: 8  }
div#artificial div:nth-child(9)  { --child: 9  }
div#artificial div:nth-child(10) { --child: 10 }
div#artificial div:nth-child(11) { --child: 11 }
div#artificial div:nth-child(12) { --child: 12 }
div#artificial div:nth-child(13) { --child: 13 }
div#artificial div:nth-child(14) { --child: 14 }
div#artificial div:nth-child(15) { --child: 15 }
div#artificial div:nth-child(16) { --child: 16 }


